
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=globalhitss
POSTGRES_PASSWORD=globalhitss
POSTGRES_DB=globalhitss


RABBITMQ_USER=globalhitss
RABBITMQ_PASSWORD=globalhitss
RABBITMQ_HOST=localhost
RABBITMQ_PORT="5672"
RABBITMQ_API_PORT="15672"
RABBITMQ_QUEUE=globalhitss

